<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="dbName" value="data.db" />
    <add key="dbPath" value="%appdata%\probel\Lanceur\" />
    <add key="settings" value="%appdata%\probel\Lanceur\settings.json" />
    <add key="ImageCache" value="%appdata%\probel\lanceur\image_cache.bin" />
  </appSettings>
</configuration>