<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets>
    <target name="csvfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}\probel\lanceur\logs\${shortdate}.probel-lanceur.csv" >
      <layout xsi:type="CsvLayout" delimiter="Semicolon" quoting="Auto">
        <column name="Time" layout="${longdate}" />
        <column name="Level" layout="${level:upperCase=true}"/>
        <column name="Logger" layout="${logger}"/>
        <column name="ThreadId" layout="${threadid}"/>
        <column name="Message" layout="${message}" />
        <column name="Exception" layout="${exception:format=tostring}"/>
      </layout>
    </target>
    
    <target name="logconsole" 
            xsi:type="Console" 
            layout="====> ${pad:padding=5:inner=${level:uppercase=true}} | ${pad:paddinf=3:inner=${threadid}} | ${message} | ${exception:format=tostring}"/>    
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Trace" writeTo="csvfile" />
  </rules>
</nlog>